<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Loads page specific customised JS and CSS file(s) -->
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/members.css' %}">
{% endblock scripts %}

<!-- Updates the page title -->
{% block title %}
Sign In
{% endblock title %}

<!-- The following is the unique content for this page -->

{% block content %}
<!-- Jumbotron image included in HTML as it will be different on each page -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-3 text-center"> 
          <strong>Welcome Back!</strong>
      </h1>
      <h5 class="text-center">
          <!-- <strong>Use this page to add Certification Providers</strong> -->
      </h5>
  </div>
</div>

{% include "navbar.html" %}

  <div class="container memberbody">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h3 class="card-title text-center mb-5 fw-light fs-5">Sign In</h3>
            <!-- form to collect the details of a new user -->
            <form method = "POST" action="">
              {% csrf_token %}
              <div class="row input-group mb-3">
                <input type="text" name="username" placeholder="Username..." class="form-control">
              </div>
              <div class="row input-group mb-3">
                <input type="password" name="password" placeholder="Password..." class="form-control" >
              </div>
              <button class="btn btn-lg btn-primary btn-login fw-bold float-right" type="submit">Sign In</button>
              <br>
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}

              <!-- link below to redirect user to sign in page -->
              <a class="d-block text-center mt-2 medium crosslink" href="{% url 'members:member-register' %}">Not a member? Register Today</a>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

      {% endblock content %}
      <!-- FOOTER details are obtained from base template and inserted here-->