{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/display.js' %}" defer></script> 
{% endblock scripts %}


{% block title %}
Exam Display
{% endblock title %}

{% block content %}

<div class="container">
    <div class="container py-4">
        <div class="text-center pb-2">
            <h2><strong>{{obj.name}}</strong></h2>
            <p>Score to Pass: {{obj.required_score_to_pass}}%</p>
        </div>
        <div class="col text-right" id="timerdisplay"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-7">
        <form id="exam-form">
            {% csrf_token %}
            <!-- Below div will be populated by the JavaScript -->
            <div id="exam-box"></div>
            <hr>
            <div class="container py-3">
                <a href="{% url 'exams:list-view' %}" class="btn btn-danger">Go Back</a>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </div>
        </form>
    </div>
</div>

<div id="scoredisplay"></div>
<div id="resultsdisplay"></div>
<div id="endbutton"></div>
{% endblock content %}