{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/display.js' %}" defer></script> 
{% endblock scripts %}


{% block title %}
Exam Display
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col align-self-center">
        <b>{{obj.name}}</b>
        <p>Score to Pass: {{obj.required_score_to_pass}}%</p>
    </div>
    <div class="col text-right" id="timerdisplay"></div>
</div>
<div class="col-md pr-3">
    <form id="exam-form">
        {% csrf_token %}
        <!-- Below div will be populated by the JavaScript -->
        <div id="exam-box"></div>
        <hr>
        <div class="container py-3">
            <a href="{% url 'exams:list-view' %}" class="btn btn-danger">Go Back</a>
            <button type="submit" class="btn btn-success float-right">Submit</button>
        </div>
    </form>
</div>

<div id="scoredisplay"></div>
<div id="resultsdisplay"></div>
<div id="endbutton"></div>
{% endblock content %}