
/* Formatting for the uploaded Provider logos */
/* To ensure uniform display of images */
.providerlogo {
    /* border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; */
    max-width: 8em;
}

