/* Formatting for the uploaded Provider logos */
/* To ensure uniform display of images */
.providerlogo {
    width: 150px;
    height: 200px;
    object-fit: contain;
}

/* Height has been set to keep footer below content */
.addproviderbody {
    min-height: 56vh;
}

.fieldname {
    font-weight: bold;
    font-size: large;
}
/* Adjust for mobile phone devices */
@media (max-width: 760px) {
    .mobilelist {
        padding: 0px !important;
    }
}