body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }


/* body {
    background: rgb(39, 39, 39);
    background: white;
    background: linear-gradient(to right, #0062E6, #33AEFF);
} */

   
.not-visible {
    display: none;
}

/* Style tab links */
.tablink {
    background-color: rgb(0, 0, 0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  #resourcemedia {
      padding-left: 20%;
  }
  #images {background-color: red;}
  #animations {background-color: green;}
  #audio {background-color: blue;}
  #spinners {background-color: orange;}
  #templates {background-color: red;}

  .item-name {
    text-decoration: underline;
  }