body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
   
.not-visible {
    display: none;
}

.resource-icon {
    max-width: 200px;
}

/* Styling required for the media page within the resources section */
/* Style tab links */
.tablink {
    background-color: rgb(0, 0, 0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  #resourcemedia {
      padding-left: 20%;
  }
  #images {background-color: red;}
  #animations {background-color: green;}
  #audio {background-color: blue;}
  #spinners {background-color: orange;}
  #templates {background-color: red;}

  .item-name {
    text-decoration: underline;
  }

  /* Formatting for the Mid navigation bar */
.navbar {
  background-color:rgb(49, 49, 49);
}

.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:5px 25px;
  color:#fff;
}
  .nav-link:hover {
    color:rgb(14, 122, 0);
  }
.box {
  width:100%;
  background-color:rgb(0, 0, 0);
  position:relative;
}
.box-1 {
  width:50%;
  background-color:rgb(49, 49, 49);
  height:100%;
}
.box-2 {
  position:absolute;
  background-color:rgb(49, 49, 49);
  height:100%;
  width:50%;
}
/* dropdown menu specific settings */
.library {
  color:#fff;
  background-color:rgb(49, 49, 49);
  padding-left: 0.5em;
}
.library:hover {
  color:rgb(14, 122, 0);
}

