body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-image: url('../images/backgrounds/bubble.png');
  }
   
.not-visible {
    display: none;
}
/* Formatting for the index/home page */
/* remove extra image on index page on smaller devices */
@media (max-width: 760px) {
  .indexpic1 {
    display: none;
  }
}

/* formatting of the images on the index page */
.indexpic1, .indexpic2 {
  max-width: 350px;
  max-height: 350px;
  border-radius: 70% !important;
}

/* Jumbotron settings */
.jumbotron {
  color: white;
  text-shadow: 3px 3px 8px #000000;
  margin-bottom: 0 !important; /* added important to over-ride the bootstap default */
  background-image: url('/static/images/jumbotron/resource.png');
  background-size: cover;
  padding: 5rem 3rem;
  background-color: rgb(65, 65, 65);
}

/* User Greeting */
#greeting {
  color: white;
}
.indexcard {
  color: white !important;
}

/* Changes the background for all card displays */
/* This includes, Home page, Providers, Exams */
.card {
  color: white;
  background-image: url('/static/images/backgrounds/spiration.png');
  background-size: cover;
  background-color: rgb(65, 65, 65);
}

/* Formatting for the Mid navigation bar */

/* Used important in order to override Bootstrap defaults */
.nav-link {
  color: white !important;
  font-size: large;
}

.nav-link:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black !important;
  /* color:#fff; */
}
.dropdown-item:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black !important;
  /* color:#fff; */
}
.dropdown-menu {
  background-color: rgb(52, 58, 64);
  color: white !important;
}
.dropdown-item {
  color: white !important;
}

/* Ensure uniform display of resource images */
.resource-icon {
    max-width: 200px;
}

/* Styling required for the media page within the resources section */
/* Style tab links */
.tablink {
    background-color: rgb(65, 65, 65);
    color: white;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  #resourcemedia {
      padding-left: 20%;
      border-style: dotted;
      border-width: 0px 0px 2px 0px;
  }
  /* Background details for the expanded Media Tabs */
  #images {
    background-color: rgba(49, 31, 31, 0.6);
    background-image: url('../images/backgrounds/triangles.png');
  }
  #animations {
    background-color: rgba(49, 31, 31, 0.6);
    background-image: url('../images/backgrounds/honeycomb.png');
  }
  #audio {
    background-color: rgba(49, 31, 31, 0.6);
    background-image: url('../images/backgrounds/binding.png');
  }
  #spinners {
    background-color: rgba(49, 31, 31, 0.6);
    background-image: url('../images/backgrounds/tire.png');
  }
  #templates {
    background-color: rgba(49, 31, 31, 0.6);
    background-image: url('../images/backgrounds/escheresque_ste.png');
  }

  .item-name {
    text-decoration: underline;
  }

.icon {
  max-width: 50%;
  max-height: 50%;
}



 






