body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    /* background-image: url('../images/mediapage/backgrounds/storm.png');
    background-repeat: none;
    background-size: cover; */
  }
   
.not-visible {
    display: none;
}

.studyworld {
  color: white;
}

.resource-icon {
    max-width: 200px;
}

/* Jumbotron settings */
.jumbotron {
  color: white;
  text-shadow: 3px 3px 8px #000000;
  margin-bottom: 0 !important; /* added important to over-ride the bootstap default */
  background: black;
  background-size: cover;
}




/* Styling required for the media page within the resources section */
/* Style tab links */
.tablink {
    background-color: rgb(65, 65, 65);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  #resourcemedia {
      padding-left: 20%;
  }
  /* Background details for the expanded Media Tabs */
  #images {
    /* background-color: rgba(49, 31, 31, 0.6); */
    background-image: url('../images/mediapage/backgrounds/plank.png');
  }
  #animations {
    background-color: green;
    background-image: url('../images/mediapage/backgrounds/storm.png');
  }
  #audio {
    background-color: blue;
    background-image: url('../images/mediapage/backgrounds/redcanvas.png');
  }
  #spinners {
    background-color: orange;
    background-image: url('../images/mediapage/backgrounds/bluishpaper.png');
  }
  #templates {
    background-color: red;
    background-image: url('../images/mediapage/backgrounds/rocks.png');
  }

  .item-name {
    text-decoration: underline;
  }

.icon {
  max-width: 50%;
  max-height: 50%;
}



  /* Formatting for the Mid navigation bar */
 /* .navbar {
  background-color:rgb(49, 49, 49);
} */

/* Used important in order to override Bootstrap defaults */
.nav-link {
  color: white !important;
  font-size: large;
}

/* Used important in order to override Bootstrap defaults */
.nav-link:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black !important;
  /* color:#fff; */
}
.dropdown-item:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black !important;
  /* color:#fff; */
}
.dropdown-menu {
  background-color: rgb(52, 58, 64);
  color: white !important;
}
.dropdown-item {
  color: white !important;
}


/* index page images */
.indexpic {
  max-width: 450px;
  max-height: 450px;
  box-shadow:  outset 5px 5px 5px 10px #acacac;
  border-radius: 80% !important;
  margin: 30px auto;
  margin-left: 10%;
}


