<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Loads page specific customised JS and CSS file(s) -->
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock scripts %}

<!-- Updates the page title -->
{% block title %}
Create Page
{% endblock title %}

<!-- The following is the unique content for this page -->

{% block content %}
<!-- Jumbotron image included in HTML as it will be different on each page -->
<div class="jumbotron jumbotron-fluid" style="background-image: url('#');">
    <div class="container">
        <h1 class="display-3 text-center"> 
            <strong>Welcome Admin!</strong>
        </h1>
        <h5 class="text-center">
            <strong>Use this page to add Certification Providers</strong>
        </h5>
        <p><a class="btn btn-info btn-lg mr-20 float-right" href="#" role="button">Join</a></p>
    </div>
</div>

{% include "navbar.html" %}

<div class="container">
    <h2 class="my-4 text-center">Add a new provider</h2>
    <!-- Form to Add a New Provider to the site -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-3 text-center">
                    <p>Provider name:</p>
                </div>
                <div class="col-md-4 text-left">
                    {{ form.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pt-3 text-center">
                    <p>Provider Description:</p>
                </div>
                <div class="col-md-4 text-center">
                    {{ form.description.as_textarea }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pt-3 text-center">
                    <p>Provider URL:</p>
                </div>
                <div class="col-md-4 text-left">
                    {{ form.url }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pt-3 text-center">
                    <p>Provider logo:</p>
                </div>
                <div class="col-md-4 pt-3">
                    {{ form.logo }}
                </div>
            </div>
            <br>
        </div>  
        <div class="text-right pr-5">
            <button class="btn btn-dark my-4" type="submit">Submit</button>
        </div> 
    </form>
</div>

{% endblock content %}
<!-- FOOTER details are obtained from base template and inserted here-->