<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Update Provider
{% endblock title %}

<!-- The following is the unique content for this page -->

{% block content %}
<!-- Jumbotron image included in HTML as it will be different on each page -->
<div class="jumbotron jumbotron-fluid" style="background-image: url('#');">
    <div class="container">
        <h1 class="display-3 text-center"> 
            <strong>Welcome Admin!</strong>
        </h1>
        <h5 class="text-center">
            <strong>Use this page to Delete an Existing Certification Provider</strong>
        </h5>
    </div>
</div>

{% include "navbar.html" %}

<div class="container">
    <h2 class="my-4 text-center">Delete Provider Confirmation</h2>
<!-- Confirmation message and Name of Provider -->
    <p>Are you sure you want to delete "{{ providers.name }}"?</p>
    <!-- Form to delete or cancel -->
    <form method="post" action="{% url 'providers:providers-delete' pk=providers.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <a  href="{% url 'providers:providers-list' %}" class="btn btn-dark">Cancel</a>
            <input type="submit" name="Confirm">
        </div>  
    </form>
</div>

{% endblock content %}
<!-- FOOTER details are obtained from base template and inserted here-->