<!-- Obtains the base.html template and extends -->
{% extends "base.html" %}

<!-- Loads the available static file(s) -->
{% load static %}

<!-- Loads page specific customised JS and CSS file(s) -->
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock scripts %}

<!-- Updates the title appearing in the window/browser tab -->
{% block title %}
Provider List
{% endblock title %}

{% block content %}

<!-- Header Jumbotron for page, Text and background picture specific to this page -->
<div class="jumbotron" id="jumbotron-resources">
  <div class="container">
      <h1 class="display-4 text-center"> 
          Providers 
      </h1>
      <p class="text-center">
          Placeholder text placeholder text placeholde text!!!
      </p>
  </div>
</div>

<!-- Includes the navbar.html -->
{% include "navbar.html" %}
<hr>

<!-- Displays the available providers as cards on the page -->
<!-- Will display single card for provider exam -->
<div class="resource-list px-5">
    <div class="row px-5">
        {% for obj in object_list %}
        <div class="col-lg-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img class="card-img-top providerlogo rounded mx-auto d-block" src="{{ obj.logo.url }}" alt="Provider Logo">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>{{obj.name}}</u></strong></h5>
                    <p class="card-text">{{obj.description}}</p>
                    <div class="d-flex justify-content-center">
                        <a  href="https://{{ obj.url }}" target="_blank" class="btn btn-dark">Visit Site</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- the following implemements pagination. Current level is 6 Providers -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock content %}