/* Ensure uniform display of exam topic images */
.examimage {
    max-height: 180px;
    min-height: 170px;
    max-width: 400px;
  }

.exambutton {
  color: white;
}

.not-visible {
  display: none;
}

.quiz-answer {
  background-color: rgb(209, 209, 209);
  margin: 0.5rem;
}

/* Pagination color changes */
.currentpage {
  background-color: black!important;
  border: none!important;
}

.otherpage {
  color: black!important;
}

/* Adjust for mobile phone devices */
@media (max-width: 760px) {
  .examlist {
    padding: 0px !important;
  }
  /* .mobileresult {
    padding-top: 6rem !important;
  } */
}

@media (max-width: 500px) {
  .exammobile {
      margin: -70px !important;
      height: auto;
      padding-top: 2rem; 
  }
  .questiontext{
    font-size: medium;
  } 
}
