<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Badge Courses
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<div class="jumbotron" id="jumbotron-ide">
    <div class="container">
        <h1 class="display-4 text-center"> 
            Show off what you have learnt with badges
        </h1>
        <p class="text-center">
            Learning is all well and good. But earning a badge, having a goal, is even better...
        </p>
    </div>
</div>

{% include "navbar.html" %}

<div class="container pt-4">
    <div class="container py-4">
        <div class="text-center pb-2">
            <h2><strong>What are Badges? and are they worth it?</strong></h2>
            <p>There are many sites on the internet that provide courses and tutorials in software development. The hard part for a new developer is finding the right ones for you.</p>
            <p>Many of the larger technology firms offer Badge courses. These courses are often free and are professionally conducted. They reinforce the information they teach, and once completed provide you with a Badge that can be posted onto you cv and LinkedIn page.</p>
            <p>Below are some of the courses available:</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="{% static '/images/#.png' %}" class="mr-3" alt="IBM learning path logo">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Cognitive Class (IBM)</h5>
                <p>Not only does IBM offer individual courses, but also actual learning paths.</p>
                <p>These are great for people new to the industry, who might have a career in mind, but are unsure of how to get there.</p>
                <p>They are also a great way to "taste test" the type of work you think you might want to get into</p>
                <a href="https://cognitiveclass.ai" target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/#.png' %}" class="mr-3" alt="IBM Indepth courses logo">
            </div>
            <div class="col-md-8 pt-3 content">
                <h5 class="pt-2 text-center item-name">IBM Indepth Courses</h5>
                <p>IBM Training and certifications offers you the ability to earn credentials to demonstrate your expertise. It is designed to validate your skills and capability to perform role-related tasks and activities at a specified level of competence.</p>
                <p>IBM digital badges and professional certifications provide secure, verifiable evidence of skills and expertise that can be easily shared with your professional network.</p>
                <a href="https://www.ibm.com/training/?mhsrc=ibmsearch_a&mhq=courses" target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/#.png' %}" class="mr-3" alt="Cisco logo">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Cisco</h5>
                <p>Cisco Learning store offers both free and paid courses.</p>
                <p>Some courses include access to labs and practice tests.</p>
                <p>Cisco also have their own Learning Network Community within which you will find technical information and professional networking opportunities, which will help advance your certification goals.</p>
                <a href="https://learningnetworkstore.cisco.com/on-demand-e-learning " target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/#.png' %}" class="mr-3" alt="Linux Foundation logo">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Linux Foundation</h5>
                <p>Linux foundation offers courses and certificates both for free and for a price</p>
                <p>On this site you’ll find courses, webinars, tutorials, and publications all at your fingertips and free forever</p>
                <p></p>
                <a href="https://training.linuxfoundation.org/full-catalog/?_sft_product_type=training&_sft_course_mode=e-learning " target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/#.PNG' %}" class="mr-3" alt="Oracle Learning logo">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Oracle</h5>
                <p>The Oracle Learning Explorer program offers entry-level training courses and accreditation for Oracle's entire product portfolio. It was designed to empower professionals across the globe to begin cultivating valuable IT skills.</p>
                <p>While many of the courses are free, there are few paid certificates as well.</p>
                <a href="https://education.oracle.com/learning-explorer" target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/#.png' %}" class="mr-3" alt="API Academy logo">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">API Academy</h5>
                <p>API Academy is only a new resource which has three courses available on their site at this time.</p>
                <p>These courses are completely free and provide a great source of information in relation to APIs. Not only how they work, but how to build them, secure them and maintain them.</p>
                <a href="https://apiacademy.co/api-certification/" target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/#.png' %}" class="mr-3" alt=" logo">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">edx.org</h5>
                <p>edx.org is a collection of University provided online courses.</p>
                <p>In order to obtain a certificate, there is a fee to be paid (varies per course). However most of the courses can be completed for free, but you will not get the certificate.</p>
                <p>This site has courses, learning paths, and MicroMasters that can be used to build up credits for a full university degree.</p>
                <a href="https://www.edx.org/" target="_blank" class="btn btn-light float-right">Learn More...</a>
            </div>
        </div>
        <hr>
    </div>
    <p class="disclaimer text-center">*All descriptions are obtained from each providers official website*</p>    
</div>


{% endblock content %}