<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
IDE Resources
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<div class="container pt-4">
    <div>
        <h4>IDE? What on earth is that?!?!</h4>
        <p>IDE stands for Integrated Development Environment. This software is essentially a collection of developer tools squashed into a nice neat graphical user interface (GUI)</p>
        <p>There are numerous IDEs available, everything from a simple notepad type program to a fully loaded system such as VS Code.</p>
        <p>Each IDE has a primary function and has its own list of pros and cons. Some are built with a focus towards a specific development language, while others support multiple languages via various plug ins and add ons</p>
        <p>Below is a list of a few IDEs to help you get started on your development journey</p>
    </div>
    <hr>
    <div class="content">
        <div class="media">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
            <h5 class="mt-0">IDE Example</h5>
            <p>Give brief description of what the site offers</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="media">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
            <h5 class="mt-0">IDE Example</h5>
            <p>Give brief description of what the site offers</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="media">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
            <h5 class="mt-0">IDE Example</h5>
            <p>Give brief description of what the site offers</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="media">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
            <h5 class="mt-0">IDE Example</h5>
            <p>Give brief description of what the site offers</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}