<!-- Obtains the base.html template and extends -->
{% extends "../base.html" %}

<!-- Loads the available static file(s) -->
{% load static %}

<!-- Updates the title appearing in the window/browser tab -->
{% block title %}
IDE Resources
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<!-- Unique jumbotron for this page 
    (page specific text and background image) -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center"> 
            <strong>Intergrated Development Environments!</strong>
        </h1>
        <h5 class="text-center">
            <strong>Programming without an IDE is like writing without a pen ...</strong>
        </h5>
    </div>
</div>

<!-- Includes the navbar.html -->
{% include "navbar.html" %}

<div class="container">
    <!-- Page "header" and description of page purpose -->
    <div class="container py-4">
        <div class="text-center pb-2">
            <h2><strong>IDE? What on earth is that?!?!</strong></h2>
            <p>IDE stands for Integrated Development Environment. This software is essentially a collection of developer tools squashed into a nice neat graphical user interface (GUI)</p>
            <p>There are numerous IDEs available, everything from a simple notepad type program to a fully loaded system such as VS Code.</p>
            <p>Each IDE has a primary function and has its own list of pros and cons. Some are built with a focus towards a specific development language, while others support multiple languages via various plug ins and add ons</p>
            <p>Below is a list of a few IDEs to help you get started on your development journey</p>
        </div>
        <hr>
        <!-- IDE provider one - VS Code -->
        <div class="row align-items-center">
            <div class="col-md-5 mx-auto">
                <img src="{% static '/images/ide/vscode.png' %}" class="mr-3" alt="vscode logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">VS Code</h5>
                <p>Visual Studio Code is a source-code editor that can be used with a variety of programming languages, including Java, JavaScript, Go, Node.js, Python and C++. It is based on the Electron framework, which is used to develop Node.js Web applications that run on the Blink layout engine. Visual Studio Code employs the same editor component (codenamed "Monaco") used in Azure DevOps (formerly called Visual Studio Online and Visual Studio Team Services).</p>
                <p>Instead of a project system, it allows users to open one or more directories, which can then be saved in workspaces for future reuse. This allows it to operate as a language-agnostic code editor for any language. It supports a number of programming languages and a set of features that differs per language. Unwanted files and folders can be excluded from the project tree via the settings. Many Visual Studio Code features are not exposed through menus or the user interface but can be accessed via the command palette.</p>
                <p>Visual Studio Code can be extended via extensions, available through a central repository. This includes additions to the editor and language support. A notable feature is the ability to create extensions that add support for new languages, themes, and debuggers, perform static code analysis, and add code linters using the Language Server Protocol.</p>
                <p>Visual Studio Code allows users to set the code page in which the active document is saved, the newline character, and the programming language of the active document. This allows it to be used on any platform, in any locale, and for any given programming language.</p>
                <a href="https://code.visualstudio.com/" target="_blank" class="btn btn-secondary float-right">Visit VS Code</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider two - PyCharm -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/pycharm.png' %}" class="mr-3" alt="pycharm logo">
            </div>
            <div class="col-md-7 pt-3 content">
                <h5 class="pt-2 text-center item-name">PyCharm</h5>
                <p>PyCharm is an integrated development environment (IDE) used in computer programming, specifically for the Python language. It is developed by the Czech company JetBrains (formerly known as IntelliJ). It provides code analysis, a graphical debugger, an integrated unit tester, integration with version control systems (VCSes), and supports web development with Django as well as data science with Anaconda.</p>
                <p>PyCharm is cross-platform, with Windows, macOS and Linux versions. The Community Edition is released under the Apache License, and there is also Professional Edition with extra features – released under a proprietary license.</p>
                <p>PyCharm is available free (Community Edition) or as a paid product (Professional) with additional features</p>
                <a href="https://www.jetbrains.com/pycharm/" target="_blank" class="btn btn-secondary float-right">Visit PyCharm</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider three - Atom -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/atom.png' %}" class="mr-3" alt="atom logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Atom</h5>
                <p>Atom is a free and open-source text and source code editor for macOS, Linux, and Microsoft Windows with support for plug-ins written in JavaScript, and embedded Git Control. Developed by GitHub, Atom is a desktop application built using web technologies. Most of the extending packages have free software licenses and are community-built and maintained. Atom is based on Electron (formerly known as Atom Shell),[11] a framework that enables cross-platform desktop applications using Chromium and Node.js. Atom is written in CoffeeScript and Less, but much of it has been converted to JavaScript.</p>
                <p>Atom is a "hackable" text editor. This means it is customizable. There is an init script one can customize using CoffeeScript, a style sheet to customize the looks of Atom, and a keymap to map or re-map key combinations to commands. One can even make a package to wrap all of this functionality into a single package, written in their choice of CoffeeScript or JavaScript.</p>
                <a href="https://atom.io/" target="_blank" class="btn btn-secondary float-right">Visit Atom</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider four - Bluefish -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/bluefish.png' %}" class="mr-3" alt="bluefish logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Bluefish</h5>
                <p>Bluefish is a free software advanced text editor with a variety of tools for programming and website development. It supports coding languages including HTML, XHTML, CSS, XML, PHP, C, C++, JavaScript, Java, Go, Vala, Ada, D, SQL, Perl, ColdFusion, JSP, Python, Ruby, and shell. It is available for many platforms, including Linux, macOS and Windows, and can be used via integration with GNOME or run as a standalone application. Designed as a compromise between plain text editors and full programming IDEs, Bluefish is lightweight, fast and easy to learn, while providing many IDE features. It has been translated into 17 languages.</p>
                <p>Bluefish's wizards can be used to assist in task completion. Its other features include Syntax highlighting, auto-completion, code folding, auto-recovery, upload/download functionality, a code-aware spell-checker, a Unicode character browser, code navigation, and bookmarks. It has a multiple document interface that can quickly load codebases or websites, and it has many tools search-and-replace tools that can be used with scripts and regular expressions. It can store the current states of projects to reopen them in that state. Zencoding/emmet is supported for web development.</p>
                <p>Bluefish is extensible via plugins and scripts. Many scripts come preconfigured, including statical code analysis, and syntax and markup checks for many different markup and programming languages.</p>
                <a href="http://bluefish.openoffice.nl/index.html" target="_blank" class="btn btn-secondary float-right">Visit Bluefish</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider five - Eclipse -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/eclipse.png' %}" class="mr-3" alt="eclipse logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Eclipse</h5>
                <p>Eclipse is an integrated development environment (IDE) used in computer programming. It contains a base workspace and an extensible plug-in system for customizing the environment. Eclipse is written mostly in Java and its primary use is for developing Java applications, but it may also be used to develop applications in other programming languages via plug-ins, including Ada, ABAP, C, C++, C#, Clojure, COBOL, D, Erlang, Fortran, Groovy, Haskell, JavaScript, Julia, Lasso, Lua, NATURAL, Perl, PHP, Prolog, Python, R, Ruby (including Ruby on Rails framework), Rust, Scala, and Scheme. It can also be used to develop documents with LaTeX (via a TeXlipse plug-in) and packages for the software Mathematica. Development environments include the Eclipse Java development tools (JDT) for Java and Scala, Eclipse CDT for C/C++, and Eclipse PDT for PHP, among others.</p>
                <p>The initial codebase originated from IBM VisualAge. The Eclipse software development kit (SDK), which includes the Java development tools, is meant for Java developers. Users can extend its abilities by installing plug-ins written for the Eclipse Platform, such as development toolkits for other programming languages, and can write and contribute their own plug-in modules. Since the introduction of the OSGi implementation (Equinox) in version 3 of Eclipse, plug-ins can be plugged-stopped dynamically and are termed (OSGI) bundles.</p>
                <p>Eclipse software development kit (SDK) is free and open-source software, released under the terms of the Eclipse Public License, although it is incompatible with the GNU General Public License. It was one of the first IDEs to run under GNU Classpath and it runs without problems under IcedTea.</p>
                <a href="https://www.eclipse.org/" target="_blank" class="btn btn-secondary float-right">Visit Eclipse</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider six - Ninja-IDE -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/ninja.png' %}" class="mr-3" alt="ninja logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Ninja-IDE</h5>
                <p>NINJA-IDE is a cross-platform integrated development environment (IDE) designed to build Python applications.</p>
                <p>It provides tools to simplify Python software development and handles many kinds of situations thanks to its rich extensibility.</p>
                <a href="https://github.com/ninja-ide/ninja-ide" target="_blank" class="btn btn-secondary float-right">Visit Ninja-IDE</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider seven - Komodo Edit -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/komodo.png' %}" class="mr-3" alt="komodo logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Komodo Edit</h5>
                <p>Komodo Edit is a free and open source text editor for dynamic programming languages. It was introduced in January 2007 to complement ActiveState's commercial Komodo IDE.</p>
                <p>As of version 4.3, Komodo Edit is built atop the Open Komodo project. Komodo IDE is no longer supported and maintained by developers for python.</p>
                <a href="https://www.activestate.com/products/komodo-edit/" target="_blank" class="btn btn-secondary float-right">Visit Komodo Edit</a>
            </div>
        </div>
        <hr>
        <!-- IDE provider eight - spyder -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/ide/spyder.png' %}" class="mr-3" alt="spyder logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">spyder</h5>
                <p>Spyder is a free and open source scientific environment written in Python, for Python, and designed by and for scientists, engineers and data analysts. It features a unique combination of the advanced editing, analysis, debugging, and profiling functionality of a comprehensive development tool with the data exploration, interactive execution, deep inspection, and beautiful visualization capabilities of a scientific package.</p>
                <a href="https://www.spyder-ide.org/" target="_blank" class="btn btn-secondary float-right">Visit spyder</a>
            </div>
        </div>
    </div>
    <!-- Disclaimer to be displayed as all <p> information has been obtained 
        from either wikipedia or the providers official website -->
    <p class="disclaimer text-center">*All descriptions have been obtained from each IDEs wiki page or Official website*</p>    
</div>

{% endblock content %}