<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
IDE Resources
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center"> 
            Hello Developers! 
        </h1>
        <p class="text-center">
            Welcome to studyWorld. A centralised library of all things software related...
        </p>
        <p><a class="btn btn-info btn-lg mr-20 float-right" href="#" role="button">Join</a></p>
    </div>
</div>

<div class="container pt-4">
    <div class="container py-4">
        <div class="text-center pb-2">
            <h2><strong>IDE? What on earth is that?!?!</strong></h2>
            <p>IDE stands for Integrated Development Environment. This software is essentially a collection of developer tools squashed into a nice neat graphical user interface (GUI)</p>
            <p>There are numerous IDEs available, everything from a simple notepad type program to a fully loaded system such as VS Code.</p>
            <p>Each IDE has a primary function and has its own list of pros and cons. Some are built with a focus towards a specific development language, while others support multiple languages via various plug ins and add ons</p>
            <p>Below is a list of a few IDEs to help you get started on your development journey</p>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/frameworkspage/angular.png' %}" class="mr-3" alt="...">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">IDE 1</h5>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/frameworkspage/react.png' %}" class="mr-3" alt="...">
            </div>
            <div class="col-md-8 pt-3 content">
                <h5 class="pt-2 text-center item-name">React</h5>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static '/images/frameworkspage/vuejs.png' %}" class="mr-3" alt="...">
            </div>
            <div class="col-md-8 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Vue.js</h5>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
                <p>Placeholder placeholder placeholder placeholder placeholder placeholder</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}