<!-- Obtains the base.html template and extends -->
{% extends "../base.html" %}

<!-- Loads the available static file(s) -->
{% load static %}

<!-- Updates the title appearing in the window/browser tab -->
{% block title %}
IDE Resources
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<!-- Unique jumbotron for this page 
    (page specific text and background image) -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center"> 
            <strong>Where to start learning !</strong>
        </h1>
        <h5 class="text-center">
            <strong>Here are a few beginner sites to start your learning Journey...</strong>
        </h5>
    </div>
</div>

<!-- Includes the navbar.html -->
{% include "navbar.html" %}

<!-- Page "header" and description of page purpose -->
<div class="container-flex">
    <div class="container py-4">
        <div class="text-center pb-2">
            <h2><strong>Learning........</strong></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <hr>
        <!-- Learning point one - codecademy -->
        <div class="row align-items-center">
            <div class="col-md-5 mx-auto align-items-center">
                <img src="{% static '/images/learning/codecademy.png' %}" class="mr-3 align-items-center" alt="codecademy logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">codecademy</h5>
                <p>Codecademys mission is to create a world where anyone can build something meaningful with technology, and everyone has the learning tools, resources, and opportunities to do so. Code contains a world of possibilities — all that’s required is the curiosity and drive to learn. At Codecademy, we are committed to empowering all people, regardless of where they are in their coding journeys, to continue to learn, grow, and make an impact on the world around them.</p>
                <p>This site contains everything you need. It has documents, cheatsheets, project ideas and a great community environment where people can interacte and learn from each other.</p>
                <p>The site has a tired payment system. Most content is free, but there is a premium area as well.</p>
                <a href="https://www.codecademy.com/" target="_blank" class="btn btn-secondary float-right">Visit site</a>
            </div>
        </div>
        <hr>
        <!-- Learning point two - freecodecamp -->
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/learning/freecodecamp.png' %}" class="mr-3" alt="freecodecamp logo">
            </div>
            <div class="col-md-7 pt-3 content">
                <h5 class="pt-2 text-center item-name">freecodecamp</h5>
                <p>freeCodeCamp is a nonprofit community that helps you learn to code by building projects.</p>
                <p>You'll learn to code by completing coding challenges and building projects. You'll also earn verified certifications along the way.</p>
                <p>This site is completely, entirely free.</p>
                <a href="https://www.freecodecamp.org/" target="_blank" class="btn btn-secondary float-right">Visit site</a>
            </div>
        </div>
        <hr>
        <!-- Learning point three - w3schools -->
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/learning/w3school.png' %}" class="mr-3" alt="w3schools logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">W3schools</h5>
                <p>W3schools is one of the largest web developer site on the internet. 3 billion pages displayed each year. 60 million visitors each month.</p>
                <p>It contains simplified and interactive learning experiences to increase understanding.</p>
                <p>Over 15 different programming languages.</p>
                <a href="https://www.w3schools.com/" target="_blank" class="btn btn-secondary float-right">Visit site</a>
            </div>
        </div>
        <hr>
        <!-- Learning point four - code.org -->
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/learning/code.png' %}" class="mr-3" alt="code.org  logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">code.org</h5>
                <p>Code.org® is a nonprofit dedicated to expanding access to computer science in schools and increasing participation by young women and students from other underrepresented groups.</p>
                <p>They are a leading provider of K-12 computer science curriculum in the largest school districts in the United States, Code.org also created the annual Hour of Code campaign, which has engaged more than 15% of all students in the world. </p>
                <a href="https://code.org/learn" target="_blank" class="btn btn-secondary float-right">Visit site</a>
            </div>
        </div>
        <hr>
        <!-- Learning point five - Code Wars -->
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/learning/codewars.png' %}" class="mr-3" alt="code wars  logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Code Wars</h5>
                <p>Improve your development skills by training with your peers using coding challenges.</p>
                <p>Sharpen your skills, get instant feedback and earn rank and honor based on your results.</p>
                <a href="https://www.codewars.com/" target="_blank" class="btn btn-secondary float-right">Visit site</a>
            </div>
        </div>
        <hr>
        <!-- Learning point six - Coder Byte -->
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/learning/coderbyte.png' %}" class="mr-3" alt="coder byte logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Coder Byte</h5>
                <p>Coderbyte is a web application built to help you practice programming and improve your coding skills. </p>
                <p>They offer a collection of code challenges and web development courses that can help you prepare for upcoming job interviews. The coding challenges range in difficulty and they can all be completed straight in our online editor.</p>
                <a href="https://coderbyte.com/" target="_blank" class="btn btn-secondary float-right">Visit site</a>
            </div>
        </div>
        <hr>
    </div>
    <!-- Disclaimer to be displayed as all <p> information has been obtained 
        from either wikipedia or the providers official website -->
    <p class="disclaimer text-center">*All descriptions have been obtained from each school/organisations Official website*</p>    
</div>

{% endblock content %}