<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Media Resources
{% endblock title %}

<!-- JavaScript link -->
{% block scripts %}
<script type="text/javascript" src="{% static '/js/base.js' %}"></script>
{% endblock scripts %}


{% block jumbotronhead %}
Pictures Sound and Videos!
{% endblock jumbotronhead %}  
{% block jumbotronbod %}
This is your one stop shop for all things media, and all for the low low price of ..... FREE!!!
{% endblock jumbotronbod %}  

<!-- The following is the unique content for this page -->
{% block content %}

<div class="container">
    <h2>Media Resources</h2>
    <p>Placeholder text for the intro paragraph</p>
    <button class="tablink" onclick="openPage('images', this, 'red')">Images</button>
    <button class="tablink" onclick="openPage('animations', this, 'green')" >Animations / Videos</button>
    <button class="tablink" onclick="openPage('audio', this, 'blue')">Audio</button>
    <button class="tablink" onclick="openPage('spinners', this, 'orange')">Spinners / Loaders</button>
    <button class="tablink" onclick="openPage('templates', this, 'red')">Full Site Templates</button>

    <div id="images" class="tabcontent">
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://pxhere.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://www.pexels.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://unsplash.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://pixabay.com/</h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://www.brusheezy.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://www.vecteezy.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
    </div>
    <div id="animations" class="tabcontent">
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://greensock.com/gsap/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://animejs.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://www.videezy.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
    </div>
    <div id="audio" class="tabcontent">
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://www.audiomicro.com/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
    </div>
    <div id="spinners" class="tabcontent">
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://icons8.com/preloaders/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://tobiasahlin.com/spinkit/ </h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">https://loading.io/css/</h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
    </div>

    <div id="templates" class="tabcontent">
        <div class="media" id="resourcemedia">
            <img src="#" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0"> https://www.themezy.com/</h5>
                <p>Gives a brief description of what the site offers</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


