<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Media Resources
{% endblock title %}

<!-- JavaScript link -->
{% block scripts %}
<sript src="{% static 'js/base.js' %}" defer></sript>
{% endblock scripts %}

<!-- The following is the unique content for this page -->
{% block content %}
<div class="container pt-4">
    <h2>Media Resources</h2>
    <p>Placeholder text for the intro paragraph</p>
    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Images</button>
        <div id="demo" class="collapse">
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://pxhere.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://www.pexels.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://unsplash.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://pixabay.com/</h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://www.brusheezy.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://www.vecteezy.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Animations / Videos</button>
        <div id="demo" class="collapse">
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://greensock.com/gsap/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://animejs.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://www.videezy.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Audio</button>
        <div id="demo" class="collapse">
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://www.audiomicro.com/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Spinners / Loaders</button>
        <div id="demo" class="collapse">
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://icons8.com/preloaders/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://tobiasahlin.com/spinkit/ </h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">https://loading.io/css/</h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Full Site Templates</button>
        <div id="demo" class="collapse">
            <div class="media">
                <img src="#" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0"> https://www.themezy.com/</h5>
                    <p>Gives a brief description of what the site offers</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
