<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Resourcea Available
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center"> 
            <strong>Resources are everywhere !</strong>
        </h1>
        <h5 class="text-center">
            <strong>Here is a handy little library of hints, tips and tricks to help you simplify your development process and create your projects</strong>
        </h5>
    </div>
</div>


{% include "navbar.html" %}

<div class="resource-list px-5">
    <div class="row px-5">
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="{% static '/images/resources/media.png' %}" class="card-img-top  rounded mx-auto d-block resource-icon" alt="media related icon">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>Media</u></strong></h5>
                    <p class="card-text">Help beautify your project with images, videos and so much more</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'resources-media' %}" class="btn btn-dark">Tell me more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="{% static '/images/resources/frameworks.png' %}" class="card-img-top rounded mx-auto d-block resource-icon" alt="framework related icon">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>Development Frameworks</u></strong></h5>
                    <p class="card-text">Don't waste time reinventing the wheel. Use a framework to kick off your project</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'resources-frameworks' %}" class="btn btn-dark">Tell me more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="{% static '/images/resources/ide.png' %}" class="card-img-top rounded mx-auto d-block resource-icon" alt="computer related icon">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>IDEs are the bomb!</u></strong></h5>
                    <p class="card-text">There are so many different IDEs to develop code. Find the right one for you</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'resources-ide' %}" class="btn btn-dark">IDEs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="{% static '/images/resources/tools.png' %}" class="card-img-top rounded mx-auto d-block resource-icon" alt="tool related icon">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>Tools</u></strong></h5>
                    <p class="card-text">Everyone needs a little help with their code sometimes</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'resources-tools' %}" class="btn btn-dark">Help Me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="{% static '/images/resources/learning.png' %}" class="card-img-top rounded mx-auto d-block resource-icon" alt="learning related icon">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>Free Learning</u></strong></h5>
                    <p class="card-text">There are many places to learn code. So many it can be hard to know where to go</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'resources-learning' %}" class="btn btn-dark">Teach me more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="{% static '/images/resources/badge.png' %}" class="card-img-top rounded mx-auto d-block resource-icon" alt="badge related icon">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><u>Badges</u></strong></h5>
                    <p class="card-text">Learning is Great, Having a Badge to show after all your hard work is even better</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'resources-badges' %}" class="btn btn-dark">I want a Badge!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}