<!-- Extends from base template -->
{% extends "../base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Media Resources
{% endblock title %}

<!-- JavaScript link -->
{% block scripts %}
<sript src="{% static 'js/base.js' %}" defer></sript>
{% endblock scripts %}

<!-- The following is the unique content for this page -->
{% block content %}
<div class="resource-list px-5">
    <div class="row">
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="#" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Media</h5>
                    <p class="card-text">With so many different sized devices out there, Use a framework to help remove the guesswork</p>
                    <a href="#" class="btn btn-dark">Tell me more...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Development Frameworks</h5>
                    <p class="card-text">With so many different sized devices out there, Use a framework to help remove the guesswork</p>
                    <a href="#" class="btn btn-dark">Tell me more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">IDEs are the bomb!</h5>
                    <p class="card-text">There are so many different IDEs to develop code. Find the right one for you</p>
                    <a href="#" class="btn btn-dark">IDEs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Testing</h5>
                    <p class="card-text">Testing isn't evil, Use these resources to help ease your testing journey</p>
                    <a href="#" class="btn btn-dark">Gimmie Gimmie Gimmie</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coder Checkers</h5>
                    <p class="card-text">Everyone needs a little help with their code sometimes</p>
                    <a href="#" class="btn btn-dark">Help Me</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Learning</h5>
                    <p class="card-text">There are many places to learn code. So many it can be hard to know where to go</p>
                    <a href="#" class="btn btn-dark">Teach me more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Badges</h5>
                    <p class="card-text">Learning is Great, Having a Badge to show after all your hard work is even better</p>
                    <a href="#" class="btn btn-dark">I want a Badge!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">C</h5>
                    <p class="card-text">E</p>
                    <a href="#" class="btn btn-dark">H</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3">
            <div class="card alert alert-dark h-100 px-1">
                <img src="..." class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">B</h5>
                    <p class="card-text">E</p>
                    <a href="#" class="btn btn-dark">T</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}