<!-- Obtains the base.html template and extends -->
{% extends "../base.html" %}

<!-- Loads the available static file(s) -->
{% load static %}

<!-- Updates the title appearing in the window/browser tab -->
{% block title %}
Earn Badges
{% endblock title %}

<!-- The following is the unique content for this page -->
{% block content %}

<!-- Unique jumbotron for this page 
    (page specific text and background image) -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center"> 
            <strong>Your toolbox is your greatest asset!!!</strong>
        </h1>
        <h5 class="text-center">
            <strong>Having the right tools will help make building projects a breeze...</strong>
        </h5>
    </div>
</div>

<!-- Includes the navbar.html -->
{% include "navbar.html" %}

<!-- Page "header" and description of page purpose -->
<div class="container pt-4">
    <div class="container py-4">
        <div class="text-center pb-2">
            <h2><strong>Tools</strong></h2>
            <p></p>
            <p></p>
        </div>
        <hr>
        <!-- Tool one - Screen to GIF -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/screentogif.png' %}" class="mr-3" alt="Screen to gif logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Screen to GIF</h5>
                <!-- This description is obtained from either wikipedia or Screen to GIF website -->
                <p>Screen to gif is a brilliant tool that enables you to capture screens shots and videos.</p>
                <p>These captures can be exported in a variety of formats and sizes. Brilliant for test evidence collection or creating training manuals</p>
                <a href="https://www.screentogif.com/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool two - Flying Donut -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/flyingdonut.png' %}" class="mr-3" alt="Flying Donut logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Flying Donut</h5>
                <!-- This description is obtained from either wikipedia or Flying Donut website -->
                <p>Flying Donut is a powerful, simple, effective, collaborative online scrum and kanban software for public and private projects.</p>
                <p>The easy to use backlog buckets provide an easier way to manage the backlog. Use it to keep your unscheduled work and move the cards to your active kanban or scrum board when its time to start working on them.</p>
                <a href="https://www.flyingdonut.io/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool three - JIRA -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/jira.png' %}" class="mr-3" alt="JIRA logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">JIRA</h5>
                <!-- This description is obtained from either wikipedia or JIRA website -->
                <p>Jira Software is built for every member of your software team to plan, track, and release great software.</p>
                <p>Not only is it an enterprise level softerware, there is also free access (with limited featues) for non commercial use.</p>
                <a href="https://www.atlassian.com/software/jira" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool four - TRELLO -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/trello.png' %}" class="mr-3" alt="Trello logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">Trello</h5>
                <!-- This description is obtained from either wikipedia or Trello website -->
                <p>Trello allows teams to collaborate, manage projects, and reach new productivity peaks. From high rises to the home office, the way your team works is unique—accomplish it all with Trello.</p>
                <p>Start with a Trello board, lists, and cards. Customize and expand with more features as your teamwork grows. Manage projects, organize tasks, and build team spirit—all in one place.</p>
                <p>Trello is free for noncommercial use, and will not allow you to sign up with a company email address</p>
                <a href="https://trello.com/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool five - HTML Checker -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/html.png' %}" class="mr-3" alt="A HTML page icon">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">HTML Checker</h5>
                <!-- This description is obtained from either wikipedia or HTML Checker website -->
                <p>This HTML validator is provided and maintained by W3 School.</p>
                <p>This validator checks the markup validity of Web documents in HTML, XHTML, SMIL, MathML, etc.</p>
                <a href="https://validator.w3.org/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool six - CSS Validator -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/css.png' %}" class="mr-3" alt="A CSS page icon">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">CSS Validator</h5>
                <!-- This description is obtained from either wikipedia or css validator website -->
                <p>This CSS validator is provided and maintained by W3 School.</p>
                <p>This validator will check CSS code to ensure it conforms to industry standards.</p>
                <a href="https://jigsaw.w3.org/css-validator/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool seven - JSHint -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/jshint.png' %}" class="mr-3" alt="A Javascript page icon">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">JSHint</h5>
                <!-- This description is obtained from either wikipedia or JSHint website -->
                <p>JSHint is a program that flags suspicious usage in programs written in JavaScript. The core project consists of a library itself as well as a CLI program distributed as a Node module.</p>
                <p>JSHint comes with a default set of warnings but it was designed to be very configurable.</p>
                <a href="https://jshint.com/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool eight - WAI Color Assessor -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/wai.png' %}" class="mr-3" alt="WAI Juicy Studio logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">WAI Color Assessor</h5>
                <!-- This description is obtained from either wikipedia or WAI Color Assessor website -->
                <p>The Web Accessibility Institute Color Assessor is a tool that compares the #HEX details of background and Foreground colors to ensure your project falls within WAI standards.</p>
                <p>Success Criterion 1.4.3 of WCAG 2.0 requires the visual presentation of text and images of text has a contrast ratio of at least 4.5:1.</p>
                <p>There are three exceptions to this standard which are detailed on this site.</p>
                <a href="https://juicystudio.com/services/luminositycontrastratio.php" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool nine - WAVE Accessibility -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/wave.png' %}" class="mr-3" alt="WAVE Accessibility logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">WAVE Accessibility</h5>
                <!-- This description is obtained from either wikipedia or WAVE website -->
                <p>WAVE is a suite of evaluation tools that helps authors make their web content more accessible to individuals with disabilities. WAVE can identify many accessibility and Web Content Accessibility Guideline (WCAG) errors, but also facilitates human evaluation of web content.</p>
                <p>Their philosophy is to focus on issues that we know impact end users, facilitate human evaluation, and to educate about web accessibility.</p>
                <a href="https://wave.webaim.org/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
        <!-- Tool ten - tinypng.com -->
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="{% static '/images/tools/tinypng.png' %}" class="mr-3" alt="tinypng panda logo">
            </div>
            <div class="col-md-7 pt-3 pl-4 content">
                <h5 class="pt-2 text-center item-name">tinypng.com</h5>
                <!-- This description is obtained from either wikipedia or tingPNG website -->
                <p>TinyPNG uses smart lossy compression techniques to reduce the file size of your WEBP, JPEG and PNG files. </p>
                <p>By selectively decreasing the number of colors in the image, fewer bytes are required to store the data. The effect is nearly invisible but it makes a very large difference in file size!</p>
                <a href="https://tinypng.com/" target="_blank" class="btn btn-secondary float-right">Learn More...</a>
            </div>
        </div>
        <hr>
    </div>
    <!-- Disclaimer to be displayed as all <p> information has been obtained 
        from either wikipedia or the providers official website -->
    <p class="disclaimer text-center">*All descriptions are obtained from each tools official website*</p>    
</div>

{% endblock content %}
