<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Updates the page title -->
{% block title %}
Home Page
{% endblock title %}

<!-- The following is the unique content for this page -->

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center"> 
            Hello Developers! 
        </h1>
        <p class="text-center">
            Welcome to studyWorld. A centralised library of all things software related...
        </p>
        <p><a class="btn btn-info btn-lg mr-20 float-right" href="#" role="button">Join</a></p>
    </div>
</div>

{% include "navbar.html" %}

<main role="main">
<!-- Highlights section of the landing page -->
    <section class="pt-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 z-index-2 border-radius-xl mx-auto py-3 blur shadow-blur">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <!-- First/Left Highlight -->
                                <h1 class="text-gradient text-primary">
                                    <span id="highlight1">study</span>
                                </h1>
                                <h5 class="mt-3">Providers</h5>
                                <p class="text-sm"> text text text </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <!-- Second/Middle Highlight -->
                                <h1 class="text-gradient text-primary">
                                    <span id="highlight1">learn</span>
                                </h1>
                                <h5 class="mt-3">books</h5>
                                <p class="text-sm"> text w text text </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 text-center">
                                <!-- Third/Right Highlight -->
                                <h1 class="text-gradient text-primary">
                                    <span id="highlight1">share</span>
                                </h1>
                                <h5 class="mt-3">people</h5>
                                <p class="text-sm"> text w text text </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Third Section with snippets of features -->
    <div class="container body2">
        <div class="row">
            <div class="col-md-4 pb-3">
                <div class="card custom-card">
                    <img src="#" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Certifications</h5>
                        <p class="card-text">Information on Companies that provide industry standard certifications to help progress your career in development</p>
                        <a href="#" class="btn btn-secondary">View details &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
                <div class="card custom-card">
                    <img src="#" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Resources</h5>
                        <p class="card-text">A handy little library of hints, tips and tricks to help you simplify your development process and create your projects</p>
                        <a href="{% url 'resources-list' %}" class="btn btn-secondary">View details &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
                <div class="card custom-card">
                    <img src="#" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Practise Exams</h5>
                        <p class="card-text">Use these mini exams to help reinforce your knowledge, understand your limitations and prepare for the real thing</p>
                        <a href="{% url 'exams:list-view' %}" class="btn btn-secondary">View details &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
<!-- FOOTER details are obtained from base template and inserted here-->